.Wonder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  /* Black */

  color: #191919;
}
.Make {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 88px;
  line-height: 84px;
  /* identical to box height, or 95% */

  letter-spacing: -0.581818px;

  color: #000000;
}
