.Wonder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  /* Black */

  color: #191919;
}
.Make {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 88px;
  line-height: 84px;
  /* identical to box height, or 95% */

  letter-spacing: -0.581818px;

  color: #000000;
}
.information {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  color: #ffffff;
}
.subscribe {
  ont-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #000000;
}
